doctype 5
html
    head
        title= title
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
        link(rel='stylesheet', href='/stylesheets/hint.css')
        link(rel='stylesheet', href='/stylesheets/chat.css')
        link(rel='stylesheet', href='/stylesheets/shopcart.css')
        link(rel='stylesheet', href='/stylesheets/slider.css')
        link(rel='stylesheet', href='/stylesheets/searchPanel.css')
        link(rel='stylesheet', href='/stylesheets/app.css')
    body
        include  header
        div.container#adminChatRoom(data-bind="foreach: lists")
            div.row#adminChat
                div.col-md-8
                        div.chat-panel(data-bind="attr:{clientId:clientId}")
                            div.chat-heading(data-bind="text:clientId")
                                a.white.hint--right(data-hint="Enlarge")
                                    i.icon-zoom-in
                                a.white.pull-right(data-hint="Close")
                                    span &times;
                            div.row
                                div.col-md-12.chatWindow(data-bind="attr:{id:clientId+'win'}")
                            div.chat-footer
                                div.form-inline
                                    input.chatMsg(type="text",placeholder="Enter message here...",data-bind="value:answer")
                                    a.btn.btn-success.btn-xs.chatSend(data-bind="click:sendMsg")
                                        i.icon-mail-reply

    script(type='text/javascript',src='//code.jquery.com/jquery-1.10.1.min.js')
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/chatWidget.js")
    script(src="/javascripts/thirds/underscore-min.js")
    script(src="/javascripts/thirds/knockout.js")
    script(src="/javascripts/admin_chat.js")