div.row
    div.navbar.transparent.navbar-fixed-top.header
        div.navbar-inner
            div.container
                a.brand(href='index')
                    strong Fastest Lightest Shop
                div.nav-collapse.bs-navbar-collapse
                    ul.nav.navbar-nav.pull-right
                        li
                            a.active(href="#") Today Promotion
                        li
                            a.active(href="#") Contact US
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle='dropdown') ABout US
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href='#') Features
                                li
                                    a(href='#') Features
                                li
                                    a(href='#') Features
