div.row
    div.container(id="panel")
        div.row
            div.col-md-2
                label.label.label-info TYPES:
            div.col-md-4
                a.badge(href="#",data-val='1',data-bind="click: ToggleType.bind($data,'1')") <i class="icon-tag"></i> Men
                a.badge(href="#",data-val='1',data-bind="click: ToggleType.bind($data,'1')") <i class="icon-tag"></i> Women
                a.badge(href="#",data-val='1',data-bind="click: ToggleType.bind($data,'1')") <i class="icon-tag"></i> Girls
                a.badge(href="#",data-val='1',data-bind="click: ToggleType.bind($data,'1')") <i class="icon-tag"></i> Boys
            div.col-md-2
                label.label.label-info PRICES:
            div.col-md-4
                b $0
                div#priceSlider
                b $100