div.row#sideMenu
    div.col-md-3
        div.box.outer-shadow
            a#shopCart.white.hint--right(data-hint="Click to view details") <i class="icon-shopping-cart"><span>Shopping Cart</span></i>
        div.hide#cartDetail
            ul
        div.box.outer-shadow
            a#ask.white.hint--right(data-hint="Click to ask") <i class="icon-question"><span>Asking</span></i>

div.row#chat
    div.col-md-2
            div.chat-panel.hidden
                div.chat-heading
                    a.white.hint--right.pull-left(data-hint="Enlarge")
                        i.icon-zoom-in
                    a.white.pull-right(data-hint="Close")
                        span &times;
                div.row
                    div.col-md-12.chatWindow
                div.chat-footer
                    div.form-inline
                        input.chatMsg(type="text",placeholder="Enter message here...")
                        a.btn.btn-success.btn-xs.chatSend
                            i.icon-mail-reply